.app-note{
  background-color: white;
  color: black;
  padding: 20px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 120%;
}

.app-note:hover{
  background-color: blue;
  color: white;
  padding: 20px;
  margin: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  font-size: 120%;
}

.app-note.active{
  background-color: blue;
  color: white;
  padding: 20px;
  margin: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  font-size: 120%;
}

a{
  font-size: 60%;
}
