.app-note{
  min-height: 55px;
  min-width: 200px;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.app-note:hover{
  background-color: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 10px;
}

.app-note:active{
  background-color: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 10px;
}
